<style>

</style>

<% @todays_hero.keys.each do |date| %>
  <h2><center><%= date.strftime('%B') %> Support Heros</center></h2>
  <h3>Today's Support Hero is <%= @todays_hero[date] %> </h3>
  <br/>
<% end %>

<table id='calendar'>
 <tr>
   <th>Sunday</th> <th>Monday</th>
   <th>Tuesday</th> <th>Wednesday</th>
   <th>Thursday</th> <th>Friday</th>
   <th>Saturday</th>
  </tr>
  <tr>

  <% @calendar.keys.sort.each do |date| %>
    <% if date.day == 1 %>
      <% date.wday.times do %> 
      <td class='offset'></td> 
      <% end %>
    <% end %>

    <% if date.wday == 0 %> </tr><tr> 
    <% end %>
      <td style = "padding:20px"> 
        <%= date.day %><br>
        
        <a href="/<%= @calendar[date] %>"><%= @calendar[date] %></a><br> 
      </td>
  <% end %>
  </tr>
</table>
<br>



